.heroine{
    width:100%;
    height:400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

*::-webkit-scrollbar{
    display:none;
}
.heroine h1{
    font-size: 100px;
    color: White;
    margin-top: 30px;
}

.heroine h2{
    color: white;
}

.city-container{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    gap:3em;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}


/* From Uiverse.io by Amine-maker */ 
.article-wrapper {
    margin:50px 0;
    width: 400px;
    height:420px;
    -webkit-transition: 0.15s all ease-in-out;
    transition: 0.35s all ease-in-out;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid black;
    cursor: pointer;
    background-color: white;
  }
  
  .article-wrapper:hover {
    border: 2px solid var(--accent-color);
    transform:scale(1.02);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.7);
  }
  
  .article-wrapper:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  
  .types {
    gap: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: flex-start;
  }
  
  .rounded-lg {
   /* class tailwind */
    border-radius: 10px;
  }
  
  .article-wrapper:hover .project-hover {
    transform: rotate(-45deg);
    background-color: #a6c2f0;
  }
  
  .project-info {
    padding-top: 20px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
  }

  .strike{
    text-decoration: line-through;
} 
  
  .project-title {
    font-size: 2em;
    margin: 0;
    font-weight: 600;
   /* depend de la font */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
  }
  
  .flex-pr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .project-type {
    background: #b2b2fd;
    color: #1a41cd;
    font-weight: bold;
    padding: 0.3em 0.7em;
    border-radius: 15px;
    font-size: 12px;
    letter-spacing: -0.6px
  }
  
  .project-hover {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 9px;
    transition: all 0.3s ease;
  }
  
  .container-project {
    width: 100%;
    height: 220px;
    background: gray;
  }

  .container-project img{
    width:100%;
    height:100%;
  }
  

@media(max-width:335px){

  .city-container{
    gap:0.5em;
  }
  
    .article-wrapper{
        margin: 10px 5px;
        height:700px;
    }

}

@media(max-width:490px){
    .article-wrapper{
        margin: 10px 5px;
        height:500px;
    }

    .container-project {
        height: 250px;
        background: gray;
      }

    .project-title{
        font-size: 30px;
    }

    .real{
        font-size: 10px;
    }

    .city-container{
      gap:0.5em;
    }
}


@media(max-width:860px){
.city-container{
  gap:1em;
}}


.real{
  font-size: 30px;
  font-weight: bold;
  color: var(--accent-color);
}
