.hero {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
}

.hero h1{
  margin-top: 100px;
    font-size: 4rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.hero p {
    font-size: 1.5rem;
    font-weight: 300;
}

/* Main Content */
.main-content {
    padding: 60px 20px;
}

.main-content h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 30px;
    color: var(--accent-color);
}

.cards-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 100px;
    flex-wrap: wrap;
}

.card {
position: relative;
width: 260px;
height: 345px;
background-color: rgba(0, 0, 0, 0.8);
display: flex;
border-radius: 8px;
cursor: pointer;
}

.card::before {
content: '';
position: absolute;
inset: 0;
left: -8px;
margin: auto;
width: 106.5%;
height: 107%;
border-radius: 10px;
background: linear-gradient(-45deg, #e81cff 20%, #40c9ff 80% );
z-index: -10;
pointer-events: none;
transition: all 0.32s ease-in-out;
}

.card::after {
content: "";
z-index: -1;
position: absolute;
inset: 0;
background: linear-gradient(-45deg, #fc00ff 10%, #00dbde 80% );
transform: translate3d(0, 0, 0) scale(0.95);
filter: blur(20px);
}

.card:hover::after {
filter: blur(30px);
}

.card:hover::before {
transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

.card img{
width : 100%;
height : 160px;
border-radius: 8px 8px 0 0 ;
}

.card .dets p{
color: white;
font-size:20px;
margin-top: 2%;
}

/* From Uiverse.io by waleedlh10 */ 
.con-like {
--red: rgb(255, 50, 50);
position: absolute;
right:1px;
margin: 10px;
width: 20px;
height: 20px;
}

.con-like .like {
position: absolute;
width: 100%;
height: 100%;
opacity: 0;
z-index: 20;
cursor: pointer;
}

.con-like .checkmark {
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.con-like .outline,
.con-like .filled {
fill: var(--red);
position: absolute;
}

.con-like .filled {
animation: kfr-filled 0.5s;
display: none;
}

.con-like .celebrate {
position: absolute;
animation: kfr-celebrate 0.5s;
animation-fill-mode: forwards;
display: none;
}

.con-like .poly {
stroke: var(--red);
fill: var(--red);
}

.con-like .like:checked ~ .checkmark .filled {
display: block
}

.con-like .like:checked ~ .checkmark .celebrate {
display: block
}

@keyframes kfr-filled {
0% {
  opacity: 0;
  transform: scale(0);
}

50% {
  opacity: 1;
  transform: scale(1.2);
}
}

@keyframes kfr-celebrate {
0% {
  transform: scale(0);
}

50% {
  opacity: 0.8;
}

100% {
  transform: scale(1.2);
  opacity: 0;
  display: none;
}
}


.det{
margin:10px 0 0 10px;
display: flex;
gap: .5rem;
}

.det2{
display: flex;
justify-content: space-between;
}

.det2 a{
background-color: var(--accent-color) ;
position: absolute;
color:white;
right:10px;
margin-top: 10px;
padding: 0 10px;
border-radius: 50%;
font-size:25px;
}

.det2 a:hover{
transform:scale(1.31);
color: white;

}

.strike{
text-decoration: line-through;
font-size: 10px;
}

.real{
font-size: 20px;
color: var(--accent-color);
}

.filter{
  position: relative;
  background-color: rgb(83, 83, 234);
  color:white;
  border:none;
  border-radius:30px;
  padding:10px 20px;
  bottom:50px;
}

.filter:hover{
  background-color: black;
  transform: scale(1.12);
}

filter-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.filter-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  border-radius: 10px;
  width: 300px;
}

.filter-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

.filter button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}