@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    font-family: "poppins";
}

section{
    margin-top: 20px;
}

*::-webkit-scrollbar{
    display: none;
}

body{
    margin-top: 4%;
    background-color: #212640;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0 20px;
}

/* Form Container*/

.form-container{
    display: flex;
    width: 1000px;
    height: 700px;
    border: 3px solid white;
    border-radius: 30px;
    backdrop-filter: blur(20px);
    overflow:hidden;
}

/* First Column*/

.col-1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(30px);
    border-radius: 4% 40% 20% 4%;
    transition: border-radius .3s;

}

.image-layer{
    position: relative;
}

.form-image-main{
    width: 400px;
}

.form-image{
    position: absolute;
    left: 0;
    width: 400px;
    animation: scale-up 3s ease-in-out alternate infinite;
}
/* Form image animation*/

.coin{
    animation: scale-down 3s ease-in-out alternate infinite;
}

.spring{
    animation: scale-down 3s ease-in-out alternate infinite;
}

.stars{
    animation: scale-up 3s ease-in-out alternate infinite;
}

.rocket{
    animation: up-down 3s ease-in-out alternate infinite;
}

.cloud{
    animation: left-right 3s ease-in-out alternate infinite;
}

.stars{
    animation: scale-up 3s ease-in-out alternate infinite;
}

@keyframes left-right{
    to{
        transform: translateX(15px);
    }
}

@keyframes up-down{
    to{
        transform: translateX(20px);
    }
}

@keyframes scale-down{
    to{
        transform: scale(0.95);
    }
}
@keyframes scale-up{
    to{
        transform: scale(1.2);
    }
}


/* Words*/
.words{
text-align: center;
color: white;
width:400px;
}

.words span{
    font-weight: bolder;
    color: aqua;
}

/* 2nd Column*/
.col-2{
    position: relative;
    width: 45%;
    padding: 20px;
}
.btn-box{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.btn{
    font-weight: 500;
    padding: 5px 30px;
    border: none;
    border-radius: 30px;
    background:rgb(0, 0, 0);
    color :  #ffffff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    cursor: pointer;
    transition:  .2s;
}

.btn-2{
    background:white;
    color :  #000000;
}
.btn-hover{
    opacity: 0.85;
}
/*  ======= Login Form ========  */
.login-form{
    position:absolute;
    left:50%;
    transform: translateX(50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 4vw;
    transition: .3s;
}
/*reg form*/
.reg-form{
    position:absolute;
    left:-50%;
    transform: translateX(50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 4vw;
    transition: .3s;
    
}
.reg-form .form-title{
    margin-block:40px 20px ;
}
.form-title{
    margin: 40px 0;
    color: #fff;
    font-size: 28px;
    font-weight: bolder;
}
.form-inputs{
    width: 100%;
}
.input-box{
    position: relative;
}
.input-field{
    width: 100%;
    height: 55px;
    padding: 0 15px;
    margin: 10px 0;
    color:#fff;
    background: rgba(255,255,255,0.2);
    border: none;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
::placeholder{
    color: #fff;
    font-size: 15px;

}
.input-box .icon{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color:#fff;

}
.forgot-pass{
    display: flex;
    justify-content: right;
    gap: 5px;
}
.forgot-pass a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.forgot-pass a:hover{
    text-decoration: underline;
}
.input-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 55px;
    padding: 0 15px;
    margin: 10px 0;
    color: #fff;
    background: #212640;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: .3s;

}
.input-submit:hover{
    gap:15px;
    border: 1px solid white;
}
.social-login{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.social-login i{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: #fff;
    background: rgba(255,255,255,0.2);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: .2s;


}
.social-login i:hover{
    transform: scale(0.9);
}

/* Responsive */
@media(max-width:1000px){
    .form-container{
        width: 500px;
    }

    .col-1{
        display:none;
    }

    .col-2{
        width: 100%;
    }

}