.profile-container {
    width: 100%;
    margin: auto;
    text-align: center;
}

.cover-photo {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #f4f4f4;
    overflow: hidden;
}

.cover-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-pic-container {
    position: relative;
    width: 280px;
    height: 280px;
    margin: -140px auto 20px;
    border-radius: 50%;
    border: 5px solid rgb(14, 180, 225);
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-pic-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.edit-icon {
    position: absolute;
    right: 15px;
    background: #007bff;
    color: white;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.profile-icon {
    bottom: 10px;
    right: 10px;
}

.cover-icon {
    bottom: 22px;
    right: 20px;
}

input[type="file"] {
    display: none;
}

.account-info {
    background: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.account-info h2 {
    margin-bottom: 15px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[readonly] {
    background: #f1f0f0;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#edit-btn {
    background: #007bff;
    color: white;
}

#save-btn {
    background: #28a745;
    color: white;
}

#save-btn:disabled {
    background: #ccc;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .profile-pic-container {
        width: 250px;
        height: 250px;
        margin-top: -100px;
    }

    .account-info {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .profile-pic-container {
        width: 200px;
        height: 200px;
        margin-top: -75px;
    }

    .profile-icon {
        bottom: 2px;
        right: 1px;
    }
    

    .cover-photo {
        height: 250px;
    }
}

